@media screen and (max-width: 1023px) {
    .navbar .container {
        justify-content: space-around;
    }
    .pastBtn {
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 768px) {
    .media-content {
        overflow-x: hidden!important;
    }
}

#movieShBtn:hover {
    background-color: rgb(124, 182, 248);
}

#cuisineShBtn:hover {
    background-color: rgb(124, 182, 248);
}

#bothShBtn:hover {
    background-color: rgb(124, 182, 248);
}

#historyDelBtn:hover {
    background-color:rgb(238, 127, 127);
}

#orderedListForRecipe {
    color:white;
    list-style-position: inside;
    font-display: inside;
}

#recipeTitle {
    color: white;

}

#movieT {
    color: white;
}

#pagetitle {
    color: white;
    background-size:auto;
    font-size: 70px;
}

#overview {
    color: white;
   
}

#ratings {
    color: white;
}

#release {
    color:white;
}

.image {
    max-width: 100%;
    width: auto;
}